{% extends "layout.html" %}
{% block container %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default p-4">

    <div class="mb-4">
<a href="{{ url_for('alumnos') }}" 
   class="inline-flex items-center gap-2 font-medium text-blue-600 hover:underline">
               <svg xmlns="http://www.w3.org/2000/svg" 
                 fill="none" 
                 viewBox="0 0 24 24" 
                 stroke-width="1.5" 
                 stroke="currentColor" 
                 class="w-5 h-5">
                <path stroke-linecap="round" 
                      stroke-linejoin="round" 
                      d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            NUEVO
        </a>
    </div>

    <table class="w-full text-sm text-left text-body">
        <thead class="text-sm bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th class="px-6 py-3 font-medium">NOMBRE</th>
                <th class="px-6 py-3 font-medium">A PATERNO</th>
                <th class="px-6 py-3 font-medium">CORREO</th>
                <th class="px-6 py-3 font-medium text-center">EDITAR</th>
                <th class="px-6 py-3 font-medium text-center">DETALLES</th>
                <th class="px-6 py-3 font-medium text-center">ELIMINAR</th>
            </tr>
        </thead>

        <tbody>
            {% for alum in alumno %}
            <tr class="bg-neutral-primary border-b border-default">
                <td class="px-6 py-4 font-medium text-heading">
                    {{ alum.nombre }}
                </td>
                <td class="px-6 py-4">
                    {{ alum.aPaterno }}
                </td>
                <td class="px-6 py-4">
                    {{ alum.email }}
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="#" class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded hover:bg-blue-700">
                        Editar
                    </a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="{{ url_for('detalle', id=alum.id) }}" 
                        class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded hover:bg-green-700">
                         Detalles
                    </a>
                </td>
                <td class="px-6 py-4 text-center">
                    <a href="#" class="px-4 py-2 text-sm font-medium text-white bg-red-600 rounded hover:bg-red-700">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}